<% layout("/layouts/boilerplate") %> 

<h1 class="pro-head">Subject Notes</h1>

<div class="note-data">
<% for(let note of allNotes) { %>
    <div class="note-card">
        <img src="<%= note.image.url %>" class="note-img">
        <div class="note-body">
            <h1 class="note-title"><%= note.title %></h1>
            <p class="note-info"><%= note.description.slice(0,120) %>... %></p>
    
            <button class="note-btn"><a href="/Subject/<%=note._id %>">Read More</a></button>
        </div>
    
    </div>
<% } %>
</div>