<% layout("/layouts/boilerplate") %> 

<h3>Notes Details </h3>
<ul>
    <li><%= note.title %></li>
    <li><%= note.description %></li>
    <li><img src="<%= note.image.url %>" alt=""  width="50" height="50"></li>
    <li><%= note.pdf %><li>
</ul>