
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/029/722/382/original/notes-icon-in-trendy-flat-style-isolated-on-white-background-notes-silhouette-symbol-for-your-website-design-logo-app-ui-illustration-eps10-free-vector.jpg">
    <link
        href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins&family=Tilt+Neon&family=Ubuntu:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="login">
        <div class="login-detail">
            <h1 class="notes-head">Welcome Back To NoteAdda</h1>
            <p class="notes-details">Enter your credentials to login</p>
        </div>
    
        <%- include("../includes/flash.ejs") %>
        
        <div class="notes-form">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="data">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" id="username" type="text" class="form-control" placeholder="Enter your username" required />
                </div>
                <div class="data">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password" type="password" class="form-control" placeholder="Enter your password" required />
                </div>
                <button class="btn">Login</button>
                <p class="details">Don't have an account? <a href="/signup">Signup</a></p>
            </form>
        </div>
    </div>
    <script src="js/flash.js"></script>
</body>
</html>